<div class="container">
  <!-- 메인 콘텐츠 -->
<!--  <div class="px-4 py-4 pb-32 min-h-[calc(100vh-80px)]">-->
  <div class="px-4 py-4">
    <% if @recordings&.any? %>
      <!-- 녹음 목록 -->
      <div class="space-y-3">
        <%= render partial: "feed/record", collection: @recordings, as: :recording %>
      </div>
    <% end %>
  </div>
</div>

<!-- 컴팩트 녹음 툴바 -->
<div>
  <%= render partial: 'shared/compact_recorder', locals: { submit_url: recordings_path } %>
</div>
